In [15]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [16]:
os.getcwd()

'D:\\AOS'

In [17]:
os.chdir("D:\AOS")

In [18]:
md = pd.read_excel("Exhibit+2.xlsx")
md

,Cars,"Sales \n(in 1,000 units)",Price\n(in lakh rupees),Mileage\n(Km/ltr),Top speed (Km/hr)
0,Rocinante 1,171.877,6.1,15.8,168.2
1,Rocinante 2,139.796,6.1,12.1,149.6
2,Rocinante 3,178.947,9.9,17.0,173.4
3,Rocinante 4,140.022,5.8,11.6,170.6
4,Rocinante 5,186.476,10.0,17.2,175.0
5,Rocinante 6,192.123,6.5,17.6,173.1
6,Rocinante 7,175.085,5.5,16.0,184.6
7,Rocinante 8,146.882,8.4,13.0,175.7
8,Rocinante 9,202.847,6.6,19.3,166.7
9,Rocinante 10,149.933,8.8,13.3,175.4
10,Rocinante 11,171.579,9.5,15.8,150.9
11,Rocinante 12,201.512,9.2,19.2,140.5
12,Rocinante 13,142.604,8.1,11.7,150.2
13,Rocinante 14,135.158,5.4,11.2,146.2
14,Rocinante 15,107.322,5.6,7.8,151.2
15,Rocinante 16,199.699,6.3,19.0,143.2
16,Rocinante 17,202.875,5.8,19.7,178.9
17,Rocinante 18,204.406,7.7,19.5,168.2
18,Rocinante 19,107.331,7.2,7.5,164.7
19,Rocinante 20,190.345,8.4,18.1,182.7
20,Rocinante 21,108.419,8.4,7.9,165.7
21,Rocinante 22,150.249,5.7,12.6,137.0
22,Rocinante 23,155.882,5.5,12.9,173.9
23,Rocinante 24,100.980,8.4,7.6,165.1
24,Rocinante 25,182.679,5.6,16.7,160.1
25,Rocinante 26,166.752,9.9,15.5,155.6
26,Rocinante 27,121.561,6.2,9.5,155.4
27,Rocinante 28,174.256,9.9,16.3,161.9
28,Rocinante 29,119.018,6.5,9.1,146.8
29,Rocinante 30,169.842,7.1,15.3,149.5
30,Rocinante 31,198.311,9.6,19.1,146.5
31,Rocinante 32,204.875,5.8,19.4,178.9
32,Rocinante 33,119.561,6.2,9.4,175.4
33,Rocinante 34,203.875,5.9,19.4,175.9
34,Rocinante 35,118.561,6.1,9.4,165.4

In [19]:
md.shape

(35, 5)

In [20]:
md.describe()

,"Sales \n(in 1,000 units)",Price\n(in lakh rupees),Mileage\n(Km/ltr),Top speed (Km/hr)
count,35.000000,35.000000,35.000000,35.000000
mean,161.189714,7.248571,14.357143,162.917143
std,33.865096,1.588631,4.099303,13.216266
min,100.980000,5.400000,7.500000,137.000000
25%,137.477000,5.850000,11.400000,150.550000
50%,169.842000,6.500000,15.500000,165.400000
75%,191.234000,8.400000,17.850000,174.450000
max,204.875000,10.000000,19.700000,184.600000

In [30]:
md.shape

(35, 5)

In [21]:
md.columns

Index(['Cars', 'Sales \n(in 1,000 units)', 'Price\n(in lakh rupees)',
       'Mileage\n(Km/ltr)', 'Top speed (Km/hr)'],
      dtype='object')

In [22]:
list(md)

['Cars',
 'Sales \n(in 1,000 units)',
 'Price\n(in lakh rupees)',
 'Mileage\n(Km/ltr)',
 'Top speed (Km/hr)']

### Split the whole data

In [23]:
X = md[['Price\n(in lakh rupees)', 'Mileage\n(Km/ltr)', 'Top speed (Km/hr)']]    #independent variable
y = md['Sales \n(in 1,000 units)']                                               #dependent variable

###  Split the dataset into train data and testing sets (80% train, 20% test)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [25]:
X_train.shape, X_test.shape

((28, 3), (7, 3))

In [26]:
X_train

    Price\n(in lakh rupees)  Mileage\n(Km/ltr)  Top speed (Km/hr)
24                      5.6               16.7              160.1
1                       6.1               12.1              149.6
11                      9.2               19.2              140.5
16                      5.8               19.7              178.9
3                       5.8               11.6              170.6
17                      7.7               19.5              168.2
5                       6.5               17.6              173.1
4                      10.0               17.2              175.0
7                       8.4               13.0              175.7
8                       6.6               19.3              166.7
6                       5.5               16.0              184.6
18                      7.2                7.5              164.7
13                      5.4               11.2              146.2
2                       9.9               17.0              173.4
31                      5.8               19.4              178.9
34                      6.1                9.4              165.4
9                       8.8               13.3              175.4
25                      9.9               15.5              155.6
0                       6.1               15.8              168.2
10                      9.5               15.8              150.9
19                      8.4               18.1              182.7
15                      6.3               19.0              143.2
33                      5.9               19.4              175.9
22                      5.5               12.9              173.9
12                      8.1               11.7              150.2
14                      5.6                7.8              151.2
28                      6.5                9.1              146.8
21                      5.7               12.6              137.0

In [27]:
X_test

    Price\n(in lakh rupees)  Mileage\n(Km/ltr)  Top speed (Km/hr)
23                      8.4                7.6              165.1
29                      7.1               15.3              149.5
30                      9.6               19.1              146.5
26                      6.2                9.5              155.4
27                      9.9               16.3              161.9
20                      8.4                7.9              165.7
32                      6.2                9.4              175.4

In [28]:
len( X_train.shape)

2

In [29]:
len(y_train)

28

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [32]:
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [34]:
y_pred = clf.predict(X_test)
y_pred

array([104.71788304, 169.44564819, 199.13341466, 122.08146114,
       175.58076095, 107.18758174, 120.97641274])

### Calculation of Root Mean Squared Error

In [35]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 1.7050716709776987

#### An RMSE of 3.25 suggests that, on average, our model's predictions are about 3.25 units away from the actual values. A smaller RMSE indicates greater accuracy for the model.

### Predicting both training and testing data

In [36]:
y_train_pred = clf.predict(X_train)
y_test_pred = clf.predict(X_test)

In [37]:
train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))

In [38]:
print("Training RMSE:", train_rmse)
print("Testing RMSE:", test_rmse)

Training RMSE: 2.294934392748501
Testing RMSE: 1.7050716709776987

##### The model may be overfitting.